<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<!-- <mapper> -->
<mapper namespace="com.yamada.springboot.domain.repository.mybatis.UserMapper">

	<!-- マッピング定義 -->
	<resultMap type="com.yamada.springboot.domain.model.User" id="user">
		<id column="user_id" property="userId" />
		<result column="user_name" property="userName" />
		<result column="mail" property="mail" />
		<result column="password" property="password" />
		<result column="birthday" property="birthday" />
		<result column="role" property="role" />
		<result column="my_place" property="myPlace" />
		
	</resultMap>
	
	<insert id="insertOne" parameterType="com.yamada.springboot.domain.model.User">
		INSERT INTO users (user_name, mail, password, birthday, role) VALUES(#{userName}, #{mail}, #{password}, #{birthday}, #{role})
	</insert>
	
	<select id="count" resultType="int">
		SELECT COUNT(*) FROM users
	</select>
	
	<select id="selectMany" resultMap="user">
		SELECT * FROM users
	</select>
	
	<select id="selectOne"
	parameterType="string" resultType="com.yamada.springboot.domain.model.User">
		SELECT user_id AS userId, user_name AS userName, mail, password, birthday, role, my_place AS myPlace FROM users WHERE mail = #{mail}
	</select>
	
	<select id="selectOnePassword"
	parameterType="string" resultType="String">
		SELECT password FROM users WHERE mail = #{mail}
	</select>
	
	<select id="selectOneId"
	parameterType="string" resultType="int">
		SELECT user_id AS userId FROM users WHERE mail = #{mail}
	</select>
	
	<update id="editPlace">
		UPDATE users SET my_place = #{param2} WHERE mail = #{param1}
	</update>
	
	<delete id="deleteOne" parameterType="string">
		DELETE FROM users WHERE mail = #{mail}
	</delete>
	
	<update id="updateOne" parameterType="com.yamada.springboot.domain.model.User">
		UPDATE users SET user_name = #{userName}, mail = #{mail}, password = #{password}, birthday = #{birthday} WHERE user_id = #{userId};
	</update>

</mapper>